<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uvigo.esei.bgcastro.tfm">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".app.activitys.VehiculosActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.activitys.GestionVehiculosActivity" android:parentActivityName=".app.activitys.VehiculosActivity" android:launchMode="singleTop" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activitys.VehiculosActivity"/>
        </activity>
        <activity android:name=".app.activitys.MantenimientosActivity" android:parentActivityName=".app.activitys.GestionVehiculosActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activitys.GestionVehiculosActivity"/>
        </activity>
        <activity android:name=".app.activitys.GestionMantenimientosActivity" android:parentActivityName=".app.activitys.MantenimientosActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activitys.MantenimientosActivity"/>
        </activity>

        <activity android:name=".app.activitys.ReparacionesActivity" android:parentActivityName=".app.activitys.MantenimientosActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activitys.MantenimientosActivity"/>
        </activity>

        <activity android:name=".app.activitys.GestionReparacionesActivity" android:parentActivityName=".app.activitys.ReparacionesActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activitys.ReparacionesActivity"/>
        </activity>

        <activity android:name=".app.activitys.InformeActvity" android:parentActivityName=".app.activitys.GestionVehiculosActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.activitys.GestionVehiculosActivity"/>
        </activity>

        <activity android:name=".app.activitys.PreferencesActivity" android:screenOrientation="portrait">
        </activity>

        <activity android:name=".app.activitys.BuscarOpinionActivity" android:screenOrientation="portrait">
        </activity>

        <provider
            android:authorities="es.uvigo.esei.bgcastro.tfm.vehiculos"
            android:name=".app.content_provider.VehiculoContentProvider"/>

        <provider
            android:authorities="es.uvigo.esei.bgcastro.tfm.mantenimientos"
            android:name=".app.content_provider.MantenimientosContentProvider"/>

        <provider
            android:authorities="es.uvigo.esei.bgcastro.tfm.reparaciones"
            android:name=".app.content_provider.ReparacionesContentProvider"/>

        <service android:name=".app.alarm.AlarmReceiverService"/>

    </application>

</manifest>
